.homepage{
    margin-top: 1em;
}
.carousel-item .d-block{
    width: 100%;
}
.blog-card{
    background-color: rgb(243, 243, 243);
}

.blogImg{
    width: 70%;
}
.blogPara{
    text-align: justify;
}